/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Mali:wght@300;400;500;600;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@500;600;900&display=swap');
html, body { height: 100%; }

body {overflow: overlay; margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;
background-image: url(background.jpg); background-repeat: no-repeat; background-size: cover; background-attachment: fixed; background-position: center;}
* {
  font-family: 'Mali', cursive;
  font-weight: 500;
}

::-webkit-scrollbar {
  width: 10px;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-image: linear-gradient(180deg, #ef4265 0%, #3F5EFB 100%);
  border-radius: 8px;
  -webkit-box-shadow: inset 0 0 5px rgb(255, 255, 255);
}

.fxCenter{
  display: flex;
  align-items: center;
  justify-content: center;
}


@media screen and (max-width: 576px) {
  .titlePage {
    display: none;
  }
}

.form-control:focus {
  // box-shadow: 0 0 0 0.2rem #e1899b;
  border: 1px solid gray;
  box-shadow: 0 1px 5px 0 rgb(0 0 0 /30%);
}
.themeColor{
  // background-image: linear-gradient(90deg, #ee0979 0%, #ff6a00 100%);
  background-image: linear-gradient(90deg, #ef4265 0%, #3F5EFB 100%);
  // background-color: deeppink;
  box-shadow: inset 0 0 8px rgb(255, 255, 255);
}

.themeButton{
  background-image: linear-gradient(90deg, #3F5EFB 0%, #ed5574 100%);
  color: white;
  box-shadow: inset 0 0 5px rgb(255, 255, 255);
}

.themeButton:hover{
  transform: scale(1.03);
  background-image: linear-gradient(90deg, #ed5574 0%, #3F5EFB 100%);
  color: white;
  box-shadow: inset 0 0 15px rgb(255, 255, 255);
}
